*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 1;
}


body{
    background: rgb(246,246,246);
    background: radial-gradient(circle, rgba(246,246,246,1) 0%, rgba(99,103,107,1) 100%);
}
#card {
    position: relative;
    background-color: #220c0c1a;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
  }


  

header{
    background-color:#051d16;
    
}
 h1{
    padding: 1rem;
    text-align:left;
    font-size: 2rem;
    color: #FFFFFF;
}

h3{
    font-size: 20px;
    margin-bottom: 3rem;
}

p{
    font-size: 20px;
    margin-bottom: 1rem;
}

h5{
    font-size: 1rem;
}

.main-container{
    display: flex;
    flex-direction: column;


}
.action-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 0;
}

.BankingValues button{
    background:    #15d798;
    border-radius: 0.5rem;
    padding:       0.2rem 0.4rem;
    color:         #ffffff;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin-top: 6rem;
    
}




.WorkValues  #bankButton{
    
    background:    #15d798;
    border-radius: 0.5rem;
    padding:       0.2rem 0.4rem;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;

    
}

.WorkValues  #workButton{
    
    background:    #d73015;
    border-radius: 0.5rem;
    padding:       0.2rem 0.4rem;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin-top: 5rem;
    

    
}

.WorkValues  #payLoanButton{
    
    background:    #1539d7;
    border-radius: 0.5rem;
    padding:       0.2rem 1.5rem;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin-top: 1rem;    
}

.Laptops #laptopFeatures li{
    max-width: 12rem;
    max-height: 12rem;
}

.LaptopValues #laptop{
    
    margin-bottom: 1rem;
    
}

.LaptopValues select{
    width: 100%;
    padding: 1em;
}





#laptopPrice{

    font-size: 2rem;
}

li {
    font-size: 1rem;
    list-style: none;
  }
  

#laptopImg{
    height: 15rem;
    width: 15rem;
}



.buy-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem 0;
    
}
.Buy{
    text-align: center;
}

#card2{    
    position: relative;
    background-color: #220c0c1a;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 64rem;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    
}


.Buy button{

    background:    #15d798;
    border-radius: 0.5rem;
    padding: 1rem;
    color:         #ffffff;
    font:          normal bold 2em/1 "Open Sans", sans-serif;
    text-align:    center;
 
    
}

@media screen and (max-width: 1000px) {
    .action-container {
      flex-direction: column;
    }
  
    .buy-container {
      flex-direction: column;
      height: 40rem;
      width: 20rem;
    }
    .header {
      display: flex;
      justify-content: center;
    }
    .header h1 {
      margin-left: 0;
    }
  }
  

